
.box2 {
    color: white;
    background-color: black;
    position: relative;
    bottom:600px;
    left: 100px;
    height: 200px;
    width: 280px;
    text-align: center
}

.box1 {

    background-color: gray;
    position: relative;
    margin: 50px;
    padding: 50px; 
    width: 500px;
    height: 500px;

    


}
